header {
  height: 70px;
}

header .logo {
  position: absolute;
  top: 0;
  left: 0;
}

header .logo h1 {
  margin-left: 15px;
  line-height: 70px;
  color: #ff5a5a;
}

header .overlay {
  background: #ff5a5a;
  width: 100px;
  height: 100px;
  position: relative;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header .overlay.show {
  -webkit-animation: anime 1s ease-in-out alternate forwards;
          animation: anime 1s ease-in-out alternate forwards;
  width: 100vw;
  height: 100vh;
  border-radius: 50% 0 50% 50%;
}

header .overlay li {
  list-style: none;
}

header .menu-buttonWrap {
  width: 160px;
  height: 160px;
  position: relative;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .menu-buttonWrap .menu-button {
  width: 140px;
  height: 140px;
  background: #ff5a5a;
  position: relative;
  position: absolute;
  right: -20px;
  top: -20px;
  border-radius: 50% 0 50% 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .menu-buttonWrap .menu-button:hover {
  width: 200px;
  height: 200px;
  right: -50px;
  top: -50px;
}

header .menu-buttonWrap .menu-button span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
}

header .menu-buttonWrap .menu-button span:first-child {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

header .menu-buttonWrap .menu-button span:last-child {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}
